@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */
.text-primary{
    color: #FD6E0A;
}

.dark-2{
     color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
}
