@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared-style */

.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.about-description {
    font-weight: 400;
    font-size: 18px;
}

/* header style */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    /* Two background image added here by inverted coma */
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* Position for first one Developer it position name top left and other one is goes bottom right to make the position of background image right */
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
}


/* Banner styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    width: 580px;
}

.banner-greetings {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    font-family: Open Sans;
    font-size: 18px;

}

.banner-profile-pic{
    width: 580px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about style start */

.about{
     border-radius: 10px;
     padding: 130px 150px;
     text-align: center;
     margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    
}

.item-description{
    font-weight: 600;
}